@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html.dark {
  color-scheme: dark;
}

html.dark body {
  background-color: #000000;
  color: #fafafa;
}
